<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-instagram"></i></hr>
            <i class="fa-brands fa-facebook"></i></hr>
            <i class="fa-brands fa-twitter"></i>
            </div>
        <div class="f-info-brand">&copy; IPS ACADEMY,INDORE</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>